target/
/.DS_Store
!.mvn/wrapper/maven-wrapper.jar
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/bin
/.idea
/*.iws
/*.iml
/*.ipr
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/docker-std-err.log
/docker-std-out.log
/hs_err_*.log
/.ideaDataSources/
/dataSources/
.java-version
pom.xml.versionsBackup
