target/
/.DS_Store
!.mvn/wrapper/maven-wrapper.jar

### STS ###
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/bin

### IntelliJ IDEA ###
/.idea
/*.iws
/*.iml
/*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Docker Postgres Logs ###
/docker-std-err.log
/docker-std-out.log

### JVM error logs ###
/hs_err_*.log

/.ideaDataSources/
/dataSources/


